<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()"
                  color="primary">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item detail 
              *ngFor="let registro of datalocalService.guardados"
              (click)="abrirRegistro( registro )">
      <ion-icon slot="start" 
                [name]="registro.icon"
                color="primary"></ion-icon>
      <ion-label>
        <h2>{{ registro.created | date:'medium'}}</h2>
        {{ registro.text }}
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
