<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides [options]="swiperOpts">
    <ion-slide>
      <ion-button expand="full"
                  fill="outline"
                  shape="round"
                  (click)="scan()"
                  size="large">
        Scan QR code
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
